---
import AuthPage from "../components/AuthPage"
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Ferretería México</title>
    </head>
    <body class="max-w-screen-2xl h-screen mx-auto flex justify-center items-center">
        <AuthPage client:load />
    </body>
</html>
