---
import { Image } from 'astro:assets';
import construccion from "../../public/img/construccion.png";
import facebook from "../../public/img/facebook.png";
---

<section class="w-full flex flex-col justify-center items-center">
    <Image class="object-cover" src={construccion} alt="imagen de construcción"/>
    <a class="w-10 lg:w-16 lg:-mt-10" href="https://www.facebook.com/people/Hector-Estrada/pfbid023cZjj8kifGSswxy72iVuhT83iKGTx23tP1ynVCz8KoEHfpc2Vo7dseXdXhx37bsxl/?mibextid=ZbWKwL" target="_blank" rel="noopener">
        <Image class="object-cover" src={facebook} alt="icono de Facebook"/>
    </a>
    <h2 class="text-2xl mt-4">Tel: 352-526-08-69</h2>
</section>