---
import NavBar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro"
---
<!-- desarrollado por RobertCoder (www.robertcoder.com) -->
<!-- IddO Tec 2024 (www.iddotec.com) -->
<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:type" content="website">
        <meta property="og:title" content="Ferreteria Mexico">
        <meta property="og:url" content="https://www.ferreteriamex.com/">
        <meta property="og:image" content="http://drive.google.com/uc?export=view&id=1GmElM-3ArkBylu-Hknxk9aTFymkvgD9d">
        <meta property="og:description" content="Distribuidor Ferretero líder en el mercado...">

        <title>Ferretería México</title>
        <script src="../../node_modules/preline/dist/preline.js"></script>
        <script defer src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"></script>
    </head>
    <body class="max-w-screen-2xl mx-auto">
        <NavBar />
        <slot />
        <Footer/>
    </body>
</html>